/* @fontface */
/* Global variables */
/* Color palette */
:root {
  --lm-background-color: #fff;
  --lm-text-color: #000;
  --dm-background-color: #3f3f3f;
  --dm-text-color: #fff;
  --primary: green;
}
