// ~ Light / Dark Mode

.light-mode {
  background-color: var(--lm-background-color);
  color: var(--lm-text-color);
}

.dark-mode {
  background-color: var(--dm-background-color);
  color: var(--dm-text-color);
}

.form-switch {
  display: flex;
  flex-flow: column-reverse wrap;
}
.form-check-label {
  font-size: 1.5rem;
}

// ~ Layout

#main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ~ Chrono Tool

.chrono {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#chronoTime {
  font-size: 10rem;
  padding: 1rem;
  color: var(--primary);
  text-align: center;
}
