.banner {
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  background-size: cover;
  width: 100%;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.banner__icon {
  background-color: white;
  border-radius: 50%;
  border: none;
  margin: 0 0 1rem 1.5rem;
  padding: 1.7rem;
  cursor: pointer;
  & .fas {
    font-size: large;
    color: var(--primary);
  }
}

.banner__title {
  color: rgb(255, 255, 255);
  font-size: 6rem;
  font-family: "Courier New", Courier, monospace;
}

.banner__switch {
  font-size: large;
  cursor: pointer;
}

.form-check-label,
.form-check-input {
  cursor: pointer;
  font-weight: bolder;
}
