body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba($color: #233554, $alpha: 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar h2 {
  font-size: 3.5rem;
  color: white;
}

.sidebar a,
.sidebar label {
  padding: 0.8rem;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar label:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2.5rem;
  font-size: 3.6rem;
  margin-left: 5rem;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.01s;
  padding: 16px;
}

@media screen and (max-height: 45rem) {
  .sidebar {
    padding-top: 1.5rem;
  }
  .sidebar a {
    font-size: 1.8rem;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
