// banner
@media screen and(max-width:999px ) {
  .banner__icon {
    display: none;
  }
  .form-check,
  .form-check-label,
  .form-check-input {
    display: none;
  }
  .banner__title {
    font-size: 50px;
    justify-content: center;
  }
  .banner {
    display: block;
    padding: 15px 0 0 0;
  }
}

// credit
@media screen and(max-width:530px ) {
  .banner__title {
    padding-top: 1.5rem;
    font-size: 4rem;
  }
  .mailto {
    padding: 0 0.5rem;
    writing-mode: horizontal-tb;
  }
  .credit__side {
    bottom: 1rem;
    right: 50vw;
    ul {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
    }
  }
  .sidebar {
    display: none;
  }
}

@media screen and(max-width:530px ) {
  #chronoTime {
    font-size: 60px;
  }
  .btns {
    padding: 5px;
    width: 90px;
    border-radius: 250px;
  }
}

@media screen and(max-width:323px ) {
  body {
    min-width: 323px;
  }
}

