/*Elements*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography*/

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: rgb(59, 59, 59);
  position: relative;
  font-family: "Courier New", Courier, monospace;
}

form {
  font-size: 2rem;
}

h1 {
  margin: 0;
}
