#main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chrono {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  background-color: black;
  color: white;
}
// Chrono:

#chronoTime {
  font-size: 10rem;
  padding: 1rem;
  color: rgb(0, 136, 7);
  text-align: center;
}

.btn {
  margin: 1rem;
  font-family: "Courier New", Courier, monospace;
}
